{% extends 'base.html' %}
{% load static %}
{% block title %}v2-panel{% endblock %}
{% block main %}
    <body style="background: black">
    <div class="container-fluid">
        <p class="text-center"><img src="{% static 'images/log.png' %}"></p>
    </div>
    <div class="container">
        <form class=”form-signin“ method="post">{% csrf_token %}
            <input type="text" class="form-control" required="required" name="username" placeholder="用户名">
            <input type="password" class="form-control" required="required" name="password" placeholder="密码"
                   style="margin-top: 15px">
            <button class="btn btn-warning btn-lg btn-primary btn-block" type="submit" style="margin-top: 15px">登录
            </button>
        </form>
    </div>
    <div class="container" style="margin-top: 15px">
        <form method="get" action="/register">
            <button class="btn btn-warning btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
    </div>

{% endblock %}