{% extends 'base_index.html' %}
{% block title %}Register{% endblock %}
{% block main %}
    <body style="background: black">
    <div class="container">
        {% load static %}
        <p class="text-center"><img src="{% static 'images/log.png' %}"></p>
    </div>
    <div class="container">
        <form class=”form-signin“ method="post">{% csrf_token %}
            <input type="text" class="form-control" required="required" name="username" placeholder="用户名">
            <input type="password" class="form-control" required="required" name="password" placeholder="密码"
                   style="margin-top: 15px">
            <input type="password" class="form-control" required="required" name="repassword" placeholder="请再输一次密码"
                   style="margin-top: 15px">
            <input type="email" class="form-control" required="required" name="email" placeholder="邮箱"
                   style="margin-top: 15px">

            <p>
            <h3 style="color:#d58512">请输入邀请码：</h3></p>
            <input type="text" class="form-control" required="required" placeholder="邀请码" name="invite_code">
            <button class="btn btn-warning btn-lg btn-primary btn-block" type="submit" style="margin-top: 15px">注册！
            </button>
        </form>


    </div>

{% endblock %}